.navFloat {
  float: right;
  padding: .75rem 1.25rem;
  margin-top: 35px;
  margin-left: 10px;
  font-size: 1.125rem;
  font-family: Helvetica, sans-serif;
  color: white;
}

.efectoVerde:hover {
  background-color: #18bc9c;
  padding: 10px;

}
 .fijado{
   position: fixed;
   width:100%;
   background-color: white;
 }
 #barraNav section{
   color:white;
   background: #2c3e50;
 }
 .container{
     width: 100%;
     margin:0px auto;
 }
 nav a{
   color:white;
   text-decoration: none;
 }
